<template name="kodi">
<h1>Kodi</h1>

<button id="playButton" class="btn btn-success"><i class="fa fa-play"></i></button>
<button id="pauseButton" class="btn btn-success"><i class="fa fa-pause"></i></button>
<button id="stopButton" class="btn btn-success"><i class="fa fa-stop"></i></button>
<button id="ffButton" class="btn btn-success"><i class="fa fa-fast-forward"></i></button>
<button id="fbButton" class="btn btn-success"><i class="fa fa-fast-backward"></i></button>
<button id="forwardButton" class="btn btn-success"><i class="fa fa-forward"></i></button>
<button id="backwardButton" class="btn btn-success"><i class="fa fa-backward"></i></button>

</template>
