<template name="App_body">
  
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a class="navbar-brand" href="#"><i class="fa fa-home"></i> MyHome</a>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/about"><i class="fa fa-cog"></i> About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/hue"><i class="fa fa-bolt"></i> PhilipsHue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/kodi"><i class="fa fa-chrome"></i> Kodi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Link</a>
    </li>
    <li>
      <a class="nav-link disabled" href="#">{{> loginButtons}}</a>
    </li>
  </ul>
</nav>

  {{#if currentUser}}
 <h2>Logged in...</h2>
  {{/if}}

  {{> Template.dynamic template=main}}

  <hr/>
  
  <footer class="mastfoot mt-auto">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>

</template>
